.manualTossInput {
    text-align: center;
    margin-bottom: 24px;

    button {
        margin-top: 16px;
        padding: 4px 16px;
        border-radius: 8px;
        background: var(--background-color);
        color: var(--highlight-color);
        border: 1px solid var(--highlight-color);
        cursor: pointer;
    }
}

.coinSelectors {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.coinSelect {
    font-size: 18px;
    padding: 4px;
    border-radius: 6px;
}
