.collapsibleContainer {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.collapsibleContent {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    transition:
        max-height 0.4s ease-in-out,
        opacity 0.3s ease-in-out;
}

.collapsibleContent__expanded {
    max-height: 5000px;
    opacity: 1;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.title {
    margin-right: 10px;
    display: inline;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;
}

.closeButton {
    margin-top: 16px;
    background-color: transparent;
    color: var(--background);
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.closeButton:hover {
    color: var(--highlight);
    text-decoration: underline;
}

.closeButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.closeButtonContainerTop {
    display: flex;
    justify-content: flex-end;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
        max-height 0.3s ease-in-out,
        opacity 0.3s ease-in-out;

    svg {
        color: var(--background);
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin-right: 24px;
    }

    svg:hover {
        color: var(--highlight);
    }
}

.closeButtonContainerTop__visible {
    max-height: 40px;
    opacity: 1;
}
