.collapsibleContainer {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.collapsibleContent {
    overflow: auto;
    max-height: 0;
    padding: 0;
    transition: max-height 0.3s ease;
}

.collapsibleContent__expanded {
    width: fit-content;
    max-height: fit-content;
    padding: 0 24px;
}

.title {
    margin-right: 10px;
    display: inline;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.closeButton {
    margin-top: 16px;
    background-color: transparent;
    color: var(--background);
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.closeButton:hover {
    background-color: var(--shadow);
    color: var(--shadow);
}

.closeButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.closeButtonContainerTop {
    display: flex;
    justify-content: flex-end;

    svg {
        color: var(--background);
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin-right: 24px;
    }

    svg:hover {
        color: var(--highlight);
    }
}
