.navbar {
    display: flex;
    flex-direction: "column";
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 28px;
    max-width: 960px;
    border-bottom: 1px solid var(--shadow);
}

.navbar-link {
    margin: 0 10px;
    text-decoration: none;
    color: var(--shadow);
}
.navbar-link:hover {
    color: var(--highlight);
    text-decoration: underline;
}
