/* index.css */
body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  padding: 20px;
  color: #7d4a5b;
  background-color: #fffaf0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
